[submodule "mapoule/themes/hugo-story"]
	path = mapoule/themes/hugo-story
	url = https://github.com/caressofsteel/hugo-story

[submodule "mapoule/hugo-story"]
	path = mapoule/hugo-story
	url = https://github.com/caressofsteel/hugo-story
