{{ define "main" }}

	{{ partial "banner" site.Data.banner }}
	{{ partial "spotlight" site.Data.spotlight1 }}
	{{ partial "spotlight" site.Data.spotlight2 }}
	{{ partial "spotlight" site.Data.spotlight3 }}
	{{ partial "spotlight" site.Data.spotlight4 }}
	{{ partial "spotlight" site.Data.spotlight5 }}
	{{ partial "spotlight" site.Data.spotlight6 }}
	{{ partial "spotlight" site.Data.spotlight7 }}
	{{ partial "spotlight" site.Data.spotlight8 }}
	{{ partial "spotlight" site.Data.spotlight9 }}
	{{ partial "spotlight" site.Data.spotlight10 }}
	
	<!-- {{ partial "gallery" site.Data.gallery }} -->
	{{ partial "items" site.Data.items }}
	<!-- {{ partial "elements" . }}
	{{ partial "elements_reference" . }}
	-->
	<!-- {{ partial "footer" . }} -->
	{{ partial "spotlight" site.Data.spotlight11 }}

{{ end }}